body {
  background-color: rgb(201, 210, 203);
}


.form-container {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  max-height: 50px;
  margin-left: 100px;
  margin-top: 50px;
}

.form-container input {
  max-width: 120px;
  max-height: 50px;
  margin-bottom: 10px;
  padding: 10px;  
  font-size: 16px;
}

.button-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px; /* Fixed width */
  height: 40px; /* Fixed height */
}

.button-container button:hover {
  background-color: #0056b3;
}